body{
  margin: 60px auto;
}

.title{
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.subs{
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.index{
  color: #5292E0;
}

.markdown{
  word-break: break-all;
}

.markdown *{
  color: #39424D;
}

.markdown > *:not(pre){
  margin-left: auto;
  margin-right: auto;
}
.markdown > pre > *{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown img{
  display: block;
  max-width: 100%;
}

.markdown em{
  font-weight: bold;
  font-style: normal;
  color: black !important;
}

.markdown a{
  color: #5292E0;
  &:hover{
    text-decoration: underline;
  }
}

.markdown blockquote{
  box-sizing: border-box;
}

.markdown pre{
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 1);
}

.markdown code,
.markdown code span{
  font-family: "Monaco", "Consolas";
}
.markdown p  code,
.markdown ul code,
.markdown ol code{
  display: inline-block;
  box-sizing: border-box;
  font-weight: 600;
  color: #cc6666;
  background-color: #F8F8F8;
  border-radius: 3px;
}
.markdown pre code{
  color: #282a2e;
}