body{
  margin: 24px auto;
  width: 100%;
}

.title{
  margin: 0 16px;
  font-size: 20px;
}

.subs{
  margin: 0 16px;
  margin-top: 6px;
}

.index{
  font-size: 13px;
}

.date{
  margin-left: 8px;
  font-size: 13px;
  color: #A2AEBA;
}

.content{
  margin-top: 28px;
}

#uyan_frame{
  margin: 0 16px;
  margin-top: 45px;
}

.markdown *{
  font-size: 15px;
}

.markdown > *{
  box-sizing: border-box;
}

.markdown >*:not(:last-child){
  margin-bottom: 10px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6{
  margin-top: 26px;
  font-size: 20px;
}

.markdown p{
  line-height: 25px;
}

.markdown > *:not(pre){
  padding: 0 16px;
}

.markdown ul li,
.markdown ol li{
  line-height: 24px;
  margin-left: 1.5em;
}

.markdown a:hover{
  text-decoration: none;
}

.markdown blockquote{
  margin-left: 16px;
  margin-right: 16px;
  padding: 11px 16px;
  border-left: 4px solid #5292E0;
}

.markdown pre{
  max-width: 100%;
  padding: 11px 16px;
}

.markdown code,
.markdown code span{
  font-size: 13px;
}
.markdown p  code,
.markdown ul code,
.markdown ol code{
  padding: 0px 3px;
}
.markdown pre code span{
  line-height: 20px;
}