body{
  box-sizing: border-box;
}

.header{
  display: flex;
}

.header .left{
  flex: none;
}

.header .right{
  flex: auto;
}

.face{
  background-image: url(/assets/images/face.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.title{
  font-weight: 600;
}

.intro span{
  color: #707C88;
}

.intro a{
  font-weight: 600;
  color: #5292E0;
}

.blogs li{
  list-style: none;
}

.blogs li .date{
  color: #A2AEBA;
}

.blogs li a{
  word-wrap: break-word;
}