body{
  width: 100%;
  padding: 24px;
}

.header .right{
  margin-left: 12px;
}

.face{
  width: 100px;
  height: 100px;
}

.title{
  font-size: 16px;
  font-weight: 600;
}

.intro{
  margin-top: 4px;
}

.intro a{
  margin-right: 4px;
  hover{
    text-decoration: none;
  }
}

.blogs{
  margin-top: 32px;
}

.blogs li{
  padding: 6px 0;
}

.blogs li .date{
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}

.blogs li a{
  font-size: 15px;
}