<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{ blog.title }
  link(rel="stylesheet" href="/assets/css/base.css")
  link(rel="stylesheet" href="/assets/css/blog.css")
body
  .title #{ blog.title }
  .content.markdown !{ blog.content }