<!DOCTYPE html>
html(lang="en")
  
head
  meta(charset="UTF-8")
  title KID's Blog
  meta(name="keywords" content="KID Blog Totoros 博客 前端 Node.js 编程 代码 开发者")
  meta(name="description" content="KID Blog Totoros 博客 前端 Node.js 编程 代码 开发者")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  link(rel="stylesheet" href="/assets/css/@.css")
  link(rel="stylesheet" href="/assets/css/index.css")
  link(rel="stylesheet" media="(min-width: 721px)" href="/assets/css/index.pc.css")
  link(rel="stylesheet" media="(max-width: 720px)" href="/assets/css/index.h5.css")
    
body
  .header
    .left
      .face
    .right
      .title KID's Blog
      .intro 
        a(href="https://totoros.cc" target="_blank") totoros.cc
        span Founder，ACGer，JavaScript Full-Stack Coder
  
  ul.blogs: each blog in blogs
    li
      span.date #{ blog.date }
      a(href="#{ blog.urlPath }.html") #{ blog.title }